{% extends 'ied/base.html' %}

{% block head %}
    <title>IED Details</title>
{% endblock %}

{% block content %}
    <div class="w-50">
        {% for ld in ied.logicaldevice_set.all %}
            <div class="btn btn-primary my-2">LD: {{ ld.name }}, {{ ld.description }}</div>
            <ul class="list-group">
                {% for ln in ld.logical_node.all %}
                    <li class="list-group-item">
                        <div class="lead">LN: {{ ln.name }}, {{ ln.description }}</div>
                            <ul class="list-group">
                            {% for do in ln.dataobject_set.all %}
                                <li class="list-group-item">
                                    <div class="lead">DO: {{ do.name }}</div>
                                    <ul class="list-group">
                                    {% for att in do.attribute_set.all %}
                                                <li class="list-group-item">Attr: {{ att.name }}</li>
                                    {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            </ul>
                    </li>
                 {% endfor %}
            {% endfor %}
            </ul>
    </div>
{% endblock %}