{% extends 'ied/base.html' %}

{% block head %}
    <title>IED Details</title>
{% endblock %}

{% block content %}

<div class="card border-primary w-50">
    <div class="card-header">IED: {{ ied.name }}</div>
    <div class="card-body">
         <div class="row">
        {% for ld in ied.logicaldevice_set.all %}
             <div class="card border-secondary m-2">
             <div class="card-header">LD: {{ ld.name }}</div>
             <div class="card-body">
                 <div class="row">
                {% for ln in ld.logicalnode_set.all %}
                    <div class="col-md">
                    <div class="card border-info m-2">
                        <div class="card-header">LN: {{ ln.name }}, {{ ln.description }}</div>
                        <div class="card-body">
                            <div class="row">
                            {% for do in ln.dataobject_set.all %}
                                <div class="col-md">
                                <div class="card border-danger m-2"><!--- CARD DATAOBJECT --->
                                    <div class="card-header">DO: {{ do.name }}</div>
                                    <div class="card-body">
                                        <div class="row">
                                            {% for att in do.attribute_set.all %}
                                                    <div class="col-md">
                                                        <p class="btn btn-success">{{ att.name }}</p>
                                                    </div>
                                            {% endfor %}
                                        </div><!--- ROW ENDS --->
                                    </div>
                                </div><!--- CARD ATTRIBUTES ENDS--->
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    </div>
                 {% endfor %}
             </div>
             </div>
             </div>
            {% endfor %}
            </div>
    </div>
</div>

{% endblock %}